<a href="https://colab.research.google.com/github/martingrzzler/colab-notebooks/blob/master/ecommerce_forward_pass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [86]:
!wget https://raw.githubusercontent.com/lazyprogrammer/machine_learning_examples/master/ann_logistic_extra/ecommerce_data.csv

--2022-09-23 20:06:07--  https://raw.githubusercontent.com/lazyprogrammer/machine_learning_examples/master/ann_logistic_extra/ecommerce_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12381 (12K) [text/plain]
Saving to: ‘ecommerce_data.csv.5’

ecommerce_data.csv. 100%[===================>]  12.09K  --.-KB/s    in 0s

2022-09-23 20:06:07 (74.6 MB/s) - ‘ecommerce_data.csv.5’ saved [12381/12381]

In [87]:
data = pd.read_csv('ecommerce_data.csv')

In [88]:
data.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2

In [89]:
def preprocess(data):
  arr = data.to_numpy()
  X = arr[:,:-1]
  Y = arr[:,-1]

  # normalize
  X[:,1] = (X[:,1] - X[:,1].mean()) / X[:,1].std()
  X[:,2] = (X[:,2] - X[:,2].mean()) / X[:,2].std()

  # one hot encode time_of_day -> has 4 values
  N, D = X.shape
  Xnew = np.zeros((N, D+3))
  Xnew[:,0:(D-1)] = X[:,0:(D-1)]
  Z = np.zeros((N, 4))
  Z[np.arange(N), X[:,D-1].astype(np.int32)] = 1

  Xnew[:,-4:] = Z

  return Xnew, Y

In [90]:
X, Y = preprocess(data)

In [91]:
M = 5
D = X.shape[1]
K = len(set(Y))
W1 = np.random.randn(D,M)
b1 = np.zeros(M)
W2 = np.random.randn(M,K)
b2 = np.zeros(K)

In [92]:
def softmax(a):
  expA = np.exp(a)
  return expA / expA.sum(axis=1, keepdims=True)

In [93]:
def forward(X,W1,b1,W2,b2):
  Z = np.tanh(X.dot(W1) + b1)
  return softmax(Z.dot(W2 + b2))

In [94]:
def accuracy(Y, P):
  return np.mean(Y == P)

In [95]:
Y_proba = forward(X,W1,b1,W2,b2)
Y_pred = np.argmax(Y_proba, axis=1)

In [96]:
print(accuracy(Y, Y_pred))

0.332